@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto+Slab:wght@100&family=Ubuntu+Condensed&family=Ubuntu:wght@300;400&display=swap');

.post-heading{
    font-size: 40px;
    padding: 5px 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 80%;
    margin: auto;
}

.container{
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    height: 53vh;
}
.big-box{
    background: #fefae0;
    display: flex;
    justify-content: center;
    text-align: center;
    border:2px solid #6a040f ;
    font-family: 'Ubuntu', sans-serif;
}

.small-box{
    padding: 10px 20px;
    width: 60%;
}

.right-box{
    border: 2px solid grey;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    width: 12%;
}

.reaction{
    padding: 5px 8px;
    margin: 0 2px;
}

.post{
    margin: 4px 10px;
    display: flex;
    justify-content: center;
}

.emoji{
    cursor: pointer;
}

.left-box a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}